{% extends 'home/layout.html' %}
{% block title  %} client {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Client dashboard</h1>
        <div class="card mb-4">
            <div class="card-header">Client Informations</div>
            <div class="card-body">
                <ul class="list">
                    <li>
                        <i class="bi bi-emoji-smile"></i> Name
                    </li>
                    <li>
                        <i class="bi bi-envelope-open-fill"></i> Email
                    </li>
                    <li>
                        <i class="bi bi-telephone-fill"></i> Phone
                    </li>
                    <li>
                        <i class="bi bi-geo-alt-fill"></i> Location
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card mb-4">
            <div class="card-header">Client seances</div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Hour</th>
                            <th>Photographer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                    </tbody>
                </table>
            </div>
   </div>
<div class="container">
        <div class="card mb-4">
            <div class="card-header">Client pictures</div>
        </div>

</div>

{% endblock %}